<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	crossorigin=""/>
 <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"/>
 <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
 <link rel="stylesheet" href="style/css/app.css" />
 <link rel="stylesheet" href="style/css/mymaps.css" />
 <title>My maps</title>
</head>
<body>

<header>

 <div class="container-fluid">
  <nav id="menu" class="navbar navbar-light">
   <div style="display: inline">
       <img src="style/img/logo.png" id="logo" />
    <h4 style="display: inline" id="app-name">Events Location</h4>
   </div>   
		
	<div class="input-group-prepend" id="searchTagsDiv">
	<input type="text" class="form-control" data-role="tagsinput" placeholder="Look for a map..." id="searchTags">
		<div class="input-group-append">
		<button type="button" class="btn btn-outline-secondary" id="searchBtn"><i class="fa fa-search"></i></button>    
		</div>
	</div>
	<ul class="nav ">
    <li class="nav-item">
     <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
     <a class="nav-link " href="public.html">Public area</a>
    </li>
    <li class="nav-item">
     <a class="nav-link active" href="my_maps.html">My maps</a>
    </li>

    <li class="nav-item dropdown auth">
        <a class=" nav-link dropdown-toggle" data-toggle="dropdown" href="#"

           aria-haspopup="true" aria-expanded="false"><span id="pseudo"> </span></a>
        <div class="dropdown-menu dropdown-menu-right">
		   <a class="dropdown-item" href="shared_maps.html">Shared maps</a>
		   <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePassword" >Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" id="logoutBtn">Logout</a>
        </div>
    </li>
   </ul>
  </nav>
 </div>
</header>

<div class="container-fluid" id="containerWelcome">
	<h3>Bienvenue sur votre espace de création de cartes personnelles !</h3>
	<h3>Créez votre première carte :</h3>
	<button type="button" class="firstMapBtn" data-toggle="modal" data-target="#newMapModal">
		<i class="fas fa-plus-circle"></i>
	</button>
</div>

<div id="containerMaps">
	<div id="mapid"></div>
	<div id="markplace"></div>
	
  <div class="row">

    <button type="button" class="firstMapBtn" id="createMap" data-toggle="modal" data-target="#newMapModal">
		<i class="fas fa-plus-circle"></i>
	</button>

	<div id="mapsSlider" class="slidemaps slider slider-nav"></div>

	<div class = "column">
		<button type="button" class="editDelBtn" id="editMap" data-toggle="modal" data-target="#editMapModal">
		<i class="fas fa-pencil-alt"></i>
		</button>
		<button type="button" class="editDelBtn" id="deleteMap" data-toggle="modal" data-target="#deleteModal">
			<i class="fas fa-trash-alt"></i>
		</button>
	</div>
	
  </div>
</div>

<div class="modal fade" role="dialog" id="addPhotosModal">
  <div class="modal-dialog" role="document" id="modalDialogPhotos">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Photos manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  
	  <form enctype="multipart/form-data" id="formPhotos">
		  <div class="modal-body" id="modalBodyPic">
			<a href='#'> 
				<img src="style/img/add-camera.png" id="addPhotoBtn">
			</a>
		  </div>		  
		  
		  <div class="modal-footer">
			<button type="submit" class="btn btn-primary" id="savePhotos">Save changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
	  </form>
	  
    </div>
  </div>
</div>


<div class="modal fade" role="dialog" id="photosModal">
  <div class="modal-dialog" role="document" id="modalDialogPhotos">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Photos manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  
	  <form enctype="multipart/form-data" id="formPhotos">
		  <div class="modal-body" id="modalBodyViewPic">
			
			
		  </div>		  
		  
		  <div class="modal-footer">
			<button type="submit" class="btn btn-primary" id="savePhotos">Save changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
	  </form>
	  
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="deleteModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<h4 style="font-size:14px">Remove this map ?</h4>
	  </div>
      <div class="modal-footer">
        <button type="button" id="delMapBtn" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="editMapModal">
  <div class="modal-dialog modal-lg" role="document">
  
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Edit map</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<form id="form-editMap" action='#'>	  
			<div class="modal-body" >
				<div class="row justify-content-center">
					<div class="col-sm-10">
						<div class="alert alert-danger error" role="alert" style="display: none; height:35px; padding: 5px"></div>
						<input class="form-control" type="text" placeholder="Name of the map" name="name" id="idNameMapEdit"> <br/>
					</div>
					<div class="col-sm-10">
						<textarea class="form-control" placeholder="Description" name="desc" id="idDescMapEdit"></textarea> <br/>
					</div>
					
					<div class="col-sm-10 btn-group btn-group-toggle" id="visibilityBtnsEdit" data-toggle="buttons">
						<label class="btn btn-primary" id="btnPrivEdit">
							<input type="radio" name="shareOption" id="idPrivEdit" autocomplete="off"> <i class="fas fa-lock"></i> Private
						</label>&#160;
						<label class="btn btn-primary" id="btnFriendEdit">
							<input type="radio" name="shareOption" id="idFriendEdit" autocomplete="off"> <i class="fas fa-users"></i>&#160;Friends
						</label>&#160;
						<label class="btn btn-primary" id="btnPublicEdit">
							<input type="radio" name="shareOption" id="idPublicEdit" autocomplete="off"> <i class="fas fa-globe"></i> Public
						</label>				
					</div>
					
					<div class="col-md-10 input-tags" id="friendsListDivEdit" style="display:none;">
						<br/><input type="text" data-role="tagsinput" placeholder="friend..." id="friendsListEdit">
					</div>	
					
					<div class="col-sm-10 input-tags">
						<br/><input type="text" data-role="tagsinput" placeholder="tag..." id="tagsMapEdit">
					</div>	
				</div>		
			</div>
			
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="editMapBtn">Edit</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
	  
		</form>
	  
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="newMapModal">
  <div class="modal-dialog modal-lg" role="document">
  
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Create new map</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<form id="form-newMap" action='#'>	  
			<div class="modal-body" >
				<div class="row justify-content-center">
					<div class="col-sm-10">
						<div class="alert alert-danger error" role="alert" style="display: none; height:35px; padding: 5px"></div>
						<input class="form-control" type="text" placeholder="Name of the map" name="name" id="idNameMap"> <br/>
					</div>
					<div class="col-sm-10">
						<textarea class="form-control" placeholder="Description" name="desc" id="idDescMap"></textarea> <br/>
					</div>
					
					<div class="col-sm-10 btn-group btn-group-toggle" id="visibilityBtns" data-toggle="buttons">
						<label class="btn btn-primary active">
							<input type="radio" name="shareOption" id="idPriv" autocomplete="off" checked> <i class="fas fa-lock"></i> Private
						</label>&#160;
						<label class="btn btn-primary">
							<input type="radio" name="shareOption" id="idFriend" autocomplete="off"> <i class="fas fa-users"></i>&#160;Friends
						</label>&#160;
						<label class="btn btn-primary">
							<input type="radio" name="shareOption" id="idPublic" autocomplete="off"> <i class="fas fa-globe"></i> Public
						</label>				
					</div>
					
					<div class="col-md-10 input-tags" id="friendsListDiv" style="display:none;">
						<br/><input type="text" data-role="tagsinput" placeholder="Friends" id="friendsList">
					</div>	
					
					<div class="col-sm-10 input-tags">
						<br/><input type="text" data-role="tagsinput" placeholder="Tags" id="tagsMap">
					</div>	
				</div>		
			</div>
			
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="createMapBtn">Create</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
	  
		</form>
	  
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="shareModal">
  <div class="modal-dialog modal-lg" role="document">
  
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Share map with friends</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
			<div class="modal-body">
				<div class="row justify-content-center">
										
					<div class="col-md-10 input-tags">
						Share this map with <input type="text" data-role="tagsinput" placeholder="pseudo" id="shareList">
					</div>	
					
				</div>		
			</div>
			
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="changeFriendsBtn">OK</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>	  
    </div>
  </div>
</div>

<script type="text/template" id="pseudo-message">
    <%= pseudo %>
</script>
<script type="text/template" id="tmpl-message">
    <% _(maps).each(function(map) { %>

        <div class="card event-map">
            <div class="card-body">

                <h5 class="card-title" style="font-weight: bold">
                    <a href="#" class="map-link"><%= map.name %> <span hidden><%= map.id %></span></a></h5>
                <p class="card-text"><%= map.description %></p>
                <p>
                    <% _(map.tags).each(function(tag) { %>
                        <a href="#" class="badge badge-tag"><%= tag.name %></a>
                    <% }) %>
                </p>
            </div>
        </div>

    <% }) %>
</script>

<div class="modal fade" role="dialog" id="changePassword">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change your password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="updatePassword" action='#'>
                <div class="modal-body" >
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <div class="alert alert-danger error" role="alert" style="display: none; height:35px; padding: 5px"></div>
                            <input class="form-control" type="password" placeholder="Actual password" name="password" > </br>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <input class="form-control" type="password"
                                   placeholder="New password" name="password" > </br>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <input class="form-control" type="password"
                                   placeholder="Confirm new password" name="password" > </br>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </form>

        </div>
    </div>
</div>

<footer id="footer">
 <div class="row">
  <div class="col-sm-12">

   <h6 id="copyright">copyright © 2018 - GL</h6>
  </div>
 </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"/>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="script/app.js"></script>
<script src="script/my_maps.js"></script>
</body>
</html>