
@font-face {
    font-family: "opensans-regular";
    src: url("../../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "alegreya-regular";
    src: url("../../fonts/Alegreya-Regular.ttf");
}

@font-face {
    font-family: "alegreya-medium";
    src: url("../../fonts/Alegreya-Medium.ttf");
}

body {
    font-family: "alegreya-regular";
    background-image: url("../../style/img/fond.png");
    opacity: 0.9;
}

header {
    background-color: indianred;
	margin-bottom:6px;
}
#app-name {
    color: #003333;
    padding-left: 30px;
    margin-top: 10px;
    font-weight: bold;
}
#menu {
    line-height: 1.2em;
}
#menu a {
    color: #003333;
    font-weight: bold;
}

#menu .nav-item  {
    margin: 10px;
    border: solid #000000 2px;
}

#menu .active {
    background-color: #003333;
    color: white;
    font-weight: normal;
}

body {
    background-color: transparent;
}

#menu .navbar {
    display: inline-block;
}

.separator {
    border: 1px solid  #003333;
}

input:focus{
    box-shadow: 0 0 3px  #003333 !important;
}


#footer{
    background-color: #003333;

    height: 40px;
    color: white;
    font-weight: bold;
    padding: 8px;

    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright {
    text-align: center;
}

.event-map{
    box-shadow: 0 0 5px #000000 !important;
}

.map-author{
    color: #1b1e21;
    font-size: 18px;
    text-align: right;
}
.badge-tag {
    color: #fff;
    font-weight: bolder;
    padding: 5px;
    background-color: #10707f;
}

.details-link{
    color: darkblue;
    text-decoration: underline;
}

.card-title {
    color: black;
    font-size: 18px;
}

@media (min-width: 1200px){
    .event-map {
        width: 17em;
        margin-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1198px){
    .event-map {
        width: 14em;
        margin-top: 20px;
    }
}

@media (min-width: 450px) and (max-width: 991px){
    .event-map {
        width: 14em;
        margin-top: 20px;
    }
}

@media (min-width: 0px) and (max-width: 450px){
    .event-map {
        width: 17em;
        margin-top: 20px;
    }
}

.maps {
    margin-bottom: 50px;
}