
@font-face {
    font-family: "opensans-regular";
    src: url("../../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "alegreya-regular";
    src: url("../../fonts/Alegreya-Regular.ttf");
}

@font-face {
    font-family: "alegreya-medium";
    src: url("../../fonts/Alegreya-Medium.ttf");
}

html{
	height:100%;
}
body {
	height: 100%;
    font-family: "opensans-regular";
    margin: 0;
	background: rgb(255,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(240,247,232,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,252,252,1) 0%,rgba(240,247,232,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(255,252,252,1) 0%,rgba(240,247,232,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#f0f7e8',GradientType=0 ); /* IE6-9 */
}

header {
    background-color: #9ab29f;
	margin-bottom:6px;
    padding-bottom: 5px;
}

header .form-control{
	border-radius: 5px 0 0 5px;
	width: 100%;
}

header .input-group-prepend{
	width: 35%;
	
}

header .btn-outline-secondary {
	color: white;
	font-size: 20px;
	border-radius: 0 5px 5px 0;
    background-color: darkslategrey;
}
header .btn-outline-secondary:hover {
    background-color: #007c5b;
}

#app-name {
    color: #003333;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}
#menu {
    line-height: 1.2em;
}
#menu a {
    color: #003333;
    font-weight: bold;
}
header .container-fluid{
	padding:0 0 0 8px ;
}
#menu .nav-item  {
    margin: 3px;
    /* border: solid #000000 1px; */
	/* border-radius: 5px; */
}

#menu .active {
    background-color: #003333;
    color: white;
    font-weight: normal;
	border-radius: 5px; 
}

#menu a:hover  {
	color:#f4fffc;
    /* background-color:#79968e; */
	border-radius: 5px; 
}

#searchTagsDiv > .bootstrap-tagsinput {
    min-width: 50vh !important; 
}

#searchTagsDiv > .bootstrap-tagsinput input {
	margin-top: 6px;
}

#searchTagsDiv >.bootstrap-tagsinput .tag {
	color: white;
	background: #4993e3;
	border-radius: 3px;
}

body {
    background-color: transparent;
}

#menu .navbar {
    display: inline-block;
}
.navbar {
	padding: 2px 0 2px 0 ;
}
input:focus{
    box-shadow: 0 0 3px  #003333 !important;
}


#footer{
    background-color: #003333;

    height: 40px;
    color: white;
    font-weight: bold;
    padding: 8px;

    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright {
    text-align: center;
}

#modalDialogPhotos {
    display: table;
    max-width: 150vh;
}

#modalBodyViewPic, #modalBodyPic {
	max-height: 60vh;
	text-align: center;
	overflow-y: scroll
}

.centeredContainer {
	text-align: center;
}

.popupBtn {
	margin : 3px 3px;
	padding: 0px 6px;
	font-size: 1.2em;
}

.event-map{
    border: 1px solid rgba(0,0,0,.125) !important;
}

.map-author{
    color: #1b1e21;
    font-size: 16px;
}
.badge-tag {
    color: #fff;
    font-weight: bolder;
    padding: 5px;
    background-color: #10707f;
	margin: 1px;
}

.details-link{
    color: darkblue;
    text-decoration: underline;
}

.column {
	display: flex;
    flex-direction: column;
}

.card-title {
    color: black;
    font-size: 18px;
}

@media (min-width: 1200px){
    .event-map {
        width: 17em;
        margin-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1198px){
    .event-map {
        width: 14em;
        margin-top: 20px;
    }
}

@media (min-width: 450px) and (max-width: 991px){
    .event-map {
        width: 14em;
        margin-top: 20px;
    }
}

@media (min-width: 0px) and (max-width: 450px){
    .event-map {
        width: 17em;
        margin-top: 20px;
    }
}

.maps {
    margin-bottom: 50px;
}

#services  h2{
    font-size: 1.8rem;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

a{
    outline: none;
}

button{
    outline: none;
}

#logo {
    height: 60px !important;
    width: 46px !important;
}

