.p-section {
    background-color: white;
    margin-top: -15px;
}

.p-text {
    text-align: justify;
    padding: 50px;

}

.service-item {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: #003333 4px solid;
    text-align: center;

    /* width and height can be anything, as long as they're equal */
}

.service-item + h2{
    text-align: center;
    padding-top: 10px;
    color: #003333;
}

.service-title{
    color: darkred;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: -50px;
    background-color: white;
    position: absolute;
    bottom: -8px;
    left: 40%;
    z-index: 10;
    width: 200px;
    font-weight: bold;
    border: #003333 solid 3px;
}

.service hr{
    z-index: 1;
}
.service-item img {
    height: 150px;
    width: 130px;
    padding-top: 1.5em;

}

.service {
    margin-bottom: 50px;
}