#login-area {
    background-color: white;
	position:absolute;
    left: 50%;
    top: 20%;
    margin-left: -150px; 
    opacity: 1;
    width: 300px;
    height: 350px;
    border: #003333 2px solid;
    border-radius: 5px 5px 10px 10px ;
}

#login-area .form-control {
    margin-bottom: 8px;
    border: 2px solid  #1b1e21;
}
#login-area .form-check{
    margin-bottom: 8px;
}

#login-area button{
    margin-bottom: 8px;
}
#login-area .form-check-label{
    color: #000000;
    font-size: 16px;
}
.btn-event {
    background-color: #003333;
    color: white;
    font-weight: bold;
}

.login-form-title {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 40px;
}

.login-form-title h3 {
    margin-top: 8px;
    padding-left: 8px;
    color: #003333;
    font-weight: bold;
}

#register {
    color: #1d2124;
    text-decoration: #1d2124 underline;
}

#forgot-pwd {
    color: darkblue;
    margin-left: 65px;
    text-decoration: darkblue underline;
}