#containerMaps{
	visibility: hidden;
	margin-top: -5px;
}

#containerWelcome{	
	display: none;
	text-align:center;
	margin-top: 45px;
}

.firstMapBtn {
	border-radius:50%;
	border:none;
	background-color:transparent;
	color:#495057;
	font-size:6em;
	outline:none;
	box-shadow:none;
}

h3 {
	margin: 30px;
}
#mapid { 
	height: 65vh;
}

.markContainer > button{
	font-size: 13px;
	margin-top:10px;
	width: 100px;
}

.labelTitle {
	width: 100%;
    margin: 6px 0;
}

textarea {
   resize: none;
}

.slidemaps {
	width:850px;
	display:block;
	margin:0 auto;
}

.mapLabel {
    background: #5fa1a4;
    color: #fff;
    font-size: 26px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.row {
	margin-left: 0;
	margin-right:0;
}

.maps {
	width:100%;
}

#addmap {
	font-size: 20px;
	padding: 6px;
	width: 58px;
	margin: auto 3px;
	border-radius: 9px;
	background-color: silver;
	text-align: center;
	color:white;
}

.tag {
	background-color: #6193b6;
	display: inline;
    padding: .4em .5em .3em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.input-tags {
	text-align: left;
}
#friendsListDiv > .bootstrap-tagsinput, #friendsListDivEdit > .bootstrap-tagsinput {
	text-align: left;
	min-width: 80% !important;	
}

#friendsListDiv > .bootstrap-tagsinput > .tag, #friendsListDivEdit > .bootstrap-tagsinput > .tag {
	background-color: transparent;
	color: black;
    font-size: 90%;
    font-weight: 300;
	
}

#addPhotoBtn{
	 height:60px;
	 width:60px;
	 border: #c5c5c5 2px dashed; 
	 padding: 6px; 
	 border-radius:6px
}

#arrow-left, #arrow-right {
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 2em;
	color: #2f4f4f;
	height: 50px;
	width: 50px;
}
#arrow-right {
	margin-right: -40px;
	text-align: center;
}

#arrow-left {
	margin-left: -40px;
	text-align: center;
}

.slick-next::before {
	content: '';
}

.slick-prev::before {
	content: '';
}

.slidemaps .event-map{
	margin-right: 10px;
}

.card {
	height: 110px;
}
.card-title {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-body {
	padding: 3px 15px;
}
.card-text {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#createMap {
	margin-left: 10px;
	color: #10707f;
	cursor: pointer;
	height: 85px;
	outline: none;
}

.editDelBtn {
	cursor: pointer;
    font-size: 1.5em;
    height: 60px;
    width: 60px;
    border: solid;
    color: #f8f9fa;
    background-color: #10707f;
    border-radius: 50px;
	margin: 10px 10px 0 0;
}

.edPlaceBtn{
	padding:0;
	width:24px;
}

#deleteMap, #editMap {
    outline: none;	
}

.userImg {
	margin: 2px;	
}

.userImg:hover {
	opacity:0.5;
}
