#containerMaps{
	visibility: hidden;
	margin-top: -5px;
}

#containerWelcome{	
	display: none;
	text-align:center;
	margin-top: 45px;
}

.firstMapBtn {
	border-radius:50%;
	border:none;
	background-color:transparent;
	color:#495057;
	font-size:6em;
	outline:none;
}

h3 {
	margin: 30px;
}
#mapid { 
	height: 65vh;
}

.markContainer {
	text-align: center;
}

.addedbtn {
	margin : 4px;
}

.markContainer > button{
	font-size: 13px;
	margin-top:10px;
	width: 100px;
}

.labelTitle {
	width: 100%;
    margin: 6px 0;
}

textarea {
   resize: none;
}

.slidemaps {
	width:850px;
	display:block;
	margin:0 auto;
	padding-bottom: 50px;
}

.mapLabel {
    background: #5fa1a4;
    color: #fff;
    font-size: 26px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.row {
	margin-left: 0;
	margin-right:0;
}

.maps {
	width:100%;
}

#addmap {
	font-size: 20px;
	padding: 6px;
	width: 58px;
	margin: auto 3px;
	border-radius: 9px;
	background-color: silver;
	text-align: center;
	color:white;
}

.tag {
	background-color: #6193b6;
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

#addPhotoBtn{
	 height:60px;
	 width:60px;
	 border: #c5c5c5 2px dashed; 
	 padding: 6px; 
	 border-radius:6px
}

#modalDialogPhotos {
    display: table;
    max-width: none;
}

#modal-body {
	max-height: 60vh;
	text-align: center;
	overflow-y: scroll
}


#arrow-left, #arrow-right {
	background-color: #6c757d;
	color: white;
	height: 50px;
	width: 50px;
}
#arrow-right {
	margin-right: -60px;
	text-align: center;
}

#arrow-left {
	margin-left: -50px;
	text-align: center;
}

.slick-next::before {
	content: '';
}

.slick-prev::before {
	content: '';
}

.slidemaps .event-map{
	margin-right: 10px;
}

#createMap {
	color: #ff6c45;
	margin-left: 10%;
	cursor: pointer;
	outline: none;
}
