#register-area {
    background-color: white;
    position: relative;
    left: 50%;
    top: 10%;
    margin-left: -225px; 
    opacity: 1;
    width: 450px;
    height: 390px;
    border: #003333 2px solid;
    border-radius: 5px 5px 10px 10px ;
}

#register-area .form-control {
    margin-bottom: 8px;
    border: 2px solid  #1b1e21;
}
#register-area .form-check{
    margin-bottom: 8px;
}

#register-area button{
    margin-bottom: 8px;
}
#register-area .form-check-label{
    color: #000000;
    font-size: 16px;
}
.btn-event {
    background-color: #003333;
    color: white;
    font-weight: bold;
}

.register-form-title {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 40px;
}

.register-form-title h3 {
    margin-top: 8px;
    padding-left: 8px;
    color: #003333;
    font-weight: bold;
}


.register-form-title {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}